
<div class = 'container'>
  <h1>Your booked Lessons:</h1>


</div>


<% @bookings.each do |b| %>
<div class ="container col-6">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class=" card-product-infos">
      <h2><%= b.lesson.name.capitalize %></h2>
      <p><%= b.date %>  </p>

    </div>
    <div class="card-body d-flex justify-content-end">
      <%= link_to 'View details', booking_path(b), class: "btn btn-primary newbutton  " %>
    </div>

  </div>
</div>
<% end %>
