



<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.1)), url(<%= asset_path 'background.jpg' %>);">
  <div class="container col-6">
    <h1>Book your next <br> coding lesson!</h1>
    <p>Book a lesson</p>
    <div class="input-group md-form form-sm form-2 pl-0 ">
      <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
      <div class="input-group-append ">
        <span class="input-group-text red lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
          aria-hidden="true"></i></span>
        </div>
      </div>
    </div>

  </div>



  <!-- Footer Links -->
  <div class="container text-center1 text-md-left  ">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3 ">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">TUTORR</h6>
        <p>Hello, we are the tutorr company! You have always wanted to take a class in a programming language, but could never
        find the right class near your? We are your solution.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">About us</h6>
        <p>
          <a href="#!">Just a link</a>
        </p>
        <p>
          <a href="#!">Another link</a>
        </p>
        <p>
          <a href="#!">More about us</a>
        </p>
        <p>
          <a href="#!">Find us</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3"></i>  Marques de Pombal, Lisbon, PT</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> tutorr-info@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
      </div>
      <!-- Grid column -->

    </div>
    <!--  links -->


</div>





<!-- Footer -->
<div class="color1">
<footer class="page-footer font-small special-color-dark pt-4 mt-10" >

  <!-- Footer Elements -->
  <div class="container text-center">
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> tutorr.com</a>
  </div>
  <!-- Copyright -->

</footer>
 </div>
<!-- Footer -->
