
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'background.png' %>);">
  <div class="container">
    <h1>Lessons</h1>
    <p>Book a lesson</p>
    <a class="btn btn-primary newbutton" href="/lessons/new">Add a lesson</a>
  </div>
</div>


<% @lessons.each do |l| %>
  <div class = "container1">
    <%= l.name %>
    <%= l.price %>
    <%= l.location %>

  </div>

<% end %>



