
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 4.5rem;


  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 50px;
    font-weight: bold;
    text-align: center
  }

  p {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-align: center;
  }
}

.banner a{
  text-align: center;
}

.banner a .btn{
  color: #CEE5F2;
}

#banner-typed-text {
  font-size: 2rem;
  height: 200px;
  color: #FFFFFF;
}


