.newbutton{
  margin-top: 10px;
  border-radius: 20px;
}

.button-search {
  border-radius: 20px;
  margin-left: 10px;

}


.search-field{
  display: inline-flex; /* or inline-flex */
  flex-direction: row;
  width: 40rem;

  form {
    width: 40rem;
  }
}

.newbutton-1{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;

}
