.card {
  justify-content: space-between;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin:20px;
  margin-left: 0;
  border-radius: 7px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-link{
  color:#292929;

  :link{
   border-color: purple;
  }
}

.card_booking{
  overflow: hidden;
  height: 400px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 7px;
  margin-top: 30px;

  h1 {
    margin-top: 5px;
  }
}


.card-header{
  border-radius: 7px;
  margin-left: 10px;
}


.card_new_lesson{
  overflow: hidden;
  height: 600px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 7px;
  margin-bottom: 100px;
}



.card_sign_up{
  overflow: hidden;
  height: 700px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 7px;
  margin: 20px;
}


.card_edit{
  overflow: hidden;
  height: 700px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 7px;
  margin: 40px;
}

.card_login{
  overflow: hidden;
  height: 450px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 7px;
  margin: 40px;
}


