.container1 {
  display: inline-flex; /* or inline-flex */
  flex-direction: column;
  width: 1000;
}

.containerinput {
  width:30px;
  height:30px;
}

.container h1{
  margin-top: 30px;
  text-align: center;
}

.lessoncount{
  margin-left: -100px;
}

.row.indent{
  margin-left: -70px;
}
