
.input-group.md-form.form-sm.form-2 input {
border: 1px solid #bdbdbd;
// border-top-left-radius: 0.25rem;
// border-bottom-left-radius: 0.25rem;
border-radius: 15px;
}
.input-group.md-form.form-sm.form-2 input.red-border {
border: 1px solid #ef9a9a;

}


.input-group{
  border-radius: 20px;
  margin-top: 20px;
}
